{
    "Parameters": {
        "STATE_HOST": "",
        "STATE_USER": "",
        "STATE_PASSWORD": "",
        "STATE_PORT": "",
        "STATE_DATABASE": "",
        "REDIRECT_URI": "",
        "JWT_SECRET": "",
        "SECRET_KEY": "",
        "SMB_DOMAIN": "",
        "SMTP_SERVER": "",
        "SMTP_PORT": "",
        "SMTP_USERNAME": "",
        "SMTP_PASSWORD": "",
        "SMTP_FROM_EMAIL": ""
    }
}